.box {
    width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    resize: both;
}

.box .text {
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

